<h1>Hello to your mom!</h1>
<p>
	The time at your mom's house is currently <%=@time%>. 
</p>

<p>
	If you want to kill time with your mom, click <%= link_to("here", say_in_the_meantime_path)%>.  Otherwise, now it's time to say <%= link_to("goodbye", say_goodbye_path)%> to all our family....
</p>
